<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pumbaa-KPT</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <div id="notification" class="notification" style="display: none;"></div>

  <header>
    <h1>Pumbaa-KPT</h1>
    <nav id="menu" class="menu">
      <ul id="modelsList"></ul>
    </nav>
  </header>

  <main class="main-container">
    <div id="content" class="content">
      <form id="messageForm" class="message-form">
        <input type="text" id="messageInput" placeholder="Enter your message" required />
        <button type="submit">Send</button>
      </form>
      <div id="responseBox" class="response" style="display: none; max-height: 600px; overflow-y: auto;"></div>
    </div>

    <div id="formattedCode" class="code-container" style="display: none;">
      <button id="copyCodeButton" class="copy-button">Copy Code</button>
      <pre id="codeContent"></pre>
    </div>
  </main>

  <script src="script.js"></script>
</body>

</html>
